@if (cardDetails) {
  <section class="grid">
    <article class="col-8">
      <h1 class="text-2xl">{{cardDetails.name}}</h1>
      @if (cardDetails.mana_cost) {
        <p>
          <span class="cost-label"><strong>Cost:&nbsp;</strong></span>
          <span [innerHTML]="cardDetails.mana_cost | manaCost:'cost'"></span>
        </p>
      }
      <p>
        @if (cardDetails.oracle_text) {
          <span [innerHTML]="cardDetails.oracle_text | manaCost:'inline'"></span>
        }
        @if (cardDetails.flavor_text) { <em>&nbsp;{{cardDetails.flavor_text}}</em> }
      </p>
      <p>
        <strong>Type:&nbsp;</strong>
        @if (cardDetails.type_line) {
          <span>{{cardDetails.type_line}}</span>
        }
      </p>
      @if (cardDetails.color_identity) {
        <p>
          <span class="cost-label"><strong>Colour Identity:&nbsp;</strong></span>
          @for (colourIdentity of cardDetails.color_identity; track colourIdentity) {
            <span [innerHTML]="colourIdentity | colorIdentity"></span>
          }
        </p>
      }
      @if (cardDetails.type_line.includes('Creature') && cardDetails.power && cardDetails.toughness) {
        <p>
          <span class="power-toughness-holder">
            <span title="Power">
              <i class="material-symbols-outlined">swords</i>
              <span class="details">&nbsp;{{cardDetails.power}}</span>
            </span>
            <span>&nbsp;|&nbsp;</span>
            <span title="Toughness">
              <i class="material-symbols-outlined">shield</i>
              <span class="details">&nbsp;{{cardDetails.toughness}}</span>
            </span>
          </span>
        </p>
      }
    </article>
    <article class="col-4">
      @if (cardDetails.image_uris) {
        <span class="card-preview">
          <img
            [src]="cardDetails.image_uris.large"
            [alt]="cardDetails.name"
            [title]="cardDetails.name" />
        </span>
      }
      @if (!cardDetails.image_uris) {
        <div class="card-placeholder">
          <span>Missing Card Image</span>
          <img
            src="https://upload.wikimedia.org/wikipedia/en/a/aa/Magic_the_gathering-card_back.jpg"
            alt="MTG Blank Card" />
        </div>
      }
    </article>
    <article class="col-6">
      <p><strong>Artist:</strong> {{cardDetails.artist}}</p>
      <p><strong>Layout:</strong> {{cardDetails.layout}}</p>
    </article>
    <article class="col-6">
      <p><strong>Set Name:</strong> {{cardDetails.set_name}}</p>
      <p><strong>Rarity:</strong> {{cardDetails.rarity}}</p>
    </article>
  </section>
}
