.loading-holder {
  width: 100%;
  height: 100%;
  background: rgba(var(--card-backgroundrgb), 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.loading-details {
  width: 150px;
  margin: 220px auto;
}

.logo-holder {
  img {
    width: var(--main-logo-width);
    height: auto;
  }
}

.card-color-filter {
  user-select: none;

  .filter-label {
    position: relative;
    top: -5px;
    margin-right: 10px;
  }

  .icon-list-holder {
    position: relative;
    top: 8px;
  }
}
