$main-black: #000;
$main-white: #FFF;
$light-grey: #dee2e6;
$main-logo-width: 50px;
// Cards
$card-background: #3d3d3d;
$card-width: 225px;
$card-height: 312px;
$card-border-radius: 12px;
$card-details-font-size: 12px;
$card-details-line-height: 16px;
$card-details-power-toughness-font-size: 18px;
// Mana Icons
$mana-icon-size: 37px;
$mana-icon-small-size: 25px;
$main-colour-row-depth: -69.4px;
$small-colour-row-depth: -45.4px;
$first-number-row-depth: 0;
$full-sized-icon-background-size: 345px 241px;
$small-sized-icon-background-size: 224px 156.5px;

