:root {
    --main-black: #000;
    --main-blackrgb: 0, 0, 0;
    --main-white: #FFF;
    --main-whitergb: 255, 255, 255;
    --light-grey: #dee2e6;
    --main-logo-width: 50px;
    --theme-background: #1e1e1e;
    --theme-backgroundrgb: 30, 30, 30;

    --card-background: #3d3d3d;
    --card-backgroundrgb: 61, 61, 61;
    --card-width: 225px;
    --card-height: 312px;
    --card-border-radius: 12px;
    --card-details-font-size: 12px;
    --card-details-line-height: 16px;
    --card-details-power-toughness-font-size: 18px;

    --mana-icon-normal-size: 37px;
    --mana-icon-full-background-size: 345px 241px;
    --mana-icon-full-colour-row-depth: -69.4px;

    --mana-icon-small-size: 25px;
    --mana-icon-small-background-size: 224px 156.5px;
    --mana-icon-small-colour-row-depth: -45.4px;
    --mana-icon-small-dual-colour-row-depth: -68px;
    --mana-icon-small-mono-colour-row-depth: -90px;
    --mana-icon-small-tap-row-depth: -113.4px;
    --mana-icon-small-first-number-row-depth: 0;
    --mana-icon-small-second-number-row-depth: -23px;

    --mana-icon-extra-small-size: 18px;
    --mana-icon-extra-small-background-size: 147.4px 103px;
    --mana-icon-extra-small-colour-row-depth: -29.4px;
    --mana-icon-extra-small-dual-colour-row-depth: -45px;
    --mana-icon-extra-small-mono-colour-row-depth: -59px;
    --mana-icon-extra-small-tap-row-depth: -74.4px;
    --mana-icon-extra-small-first-number-row-depth: 0;
    --mana-icon-extra-small-second-number-row-depth: -15px;
}
