.card-placeholder {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--card-border-radius);
  overflow: hidden;
  position: relative;
  border: 1px solid var(--light-grey);
  background: var(--card-background);
  display: flex;
  padding: 2rem;
  padding-top: 120px;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  span {
    z-index: 2;
  }
}
