.power-toughness-holder {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--main-white);
  border-radius: var(--card-border-radius);
  font-size: var(--card-details-power-toughness-font-size);
  display: inline-block;

  .material-symbols-outlined, .details {
    display: inline-block;
    font-size: var(--card-details-power-toughness-font-size);
  }

  .material-symbols-outlined {
    position: relative;
    top: 3px;
  }
}
